<div id="clients-form-container">

    <div class="card">
        <h5 class="card-header"> {{ title  }}</h5>
        
        <div class="card-body">

            <div class="text-right">
                <h6>Clave: {{ code | clave }}</h6>
            </div>

            <form [formGroup]="form" (ngSubmit) ="openSaveSwal()">

                <div class="form-group row" validate-control="firstname">
                    <label class="col-md-2 col-form-label">Nombre*</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" placeholder="Ingrese su nombre" autocomplete="off" formControlName="firstname">
                    </div>
                    <div class="col-md-5">
                        <label class="label-error" *validate-message="'required'"> El campo es requerido.</label>
                        <label class="label-error" *validate-message="'maxlength'"> &nbsp; Máximo 100 caracteres.</label>
                        <label class="label-error" *validate-message="'pattern'"> &nbsp; Solo letras.</label>
                    </div>
                </div>

                <div class="form-group row" validate-control="lastname">
                    <label class="col-md-2 col-form-label">Apellido*</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" placeholder="Ingrese su apellido" autocomplete="off" formControlName="lastname">
                    </div>
                    <div class="col-md-5">
                        <label class="label-error" *validate-message="'required'"> El campo es requerido.</label>
                        <label class="label-error" *validate-message="'maxlength'"> &nbsp; Máximo 100 caracteres.</label>
                        <label class="label-error" *validate-message="'pattern'"> &nbsp; Solo letras.</label>
                    </div>
                </div>

                <div class="form-group row" validate-control="rfc">
                    <label class="col-md-2 col-form-label">RFC*</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" placeholder="Ingrese su rfc" autocomplete="off" formControlName="rfc" maxlength="13">
                    </div>
                    <div class="col-md-5">
                        <label class="label-error" *validate-message="'required'"> El campo es requerido.</label>
                        <label class="label-error" *validate-message="'maxlength'"> &nbsp; Máximo 13 caracteres.</label>
                    </div>
                </div>

                <div class="text-right">
                    <button class="btn" type="button" (click)="cancelSwal.fire()"> <i class="fa fa-arrow-left"></i> Regresar </button>
                    <button class="btn btn-success"> <i class="fa fa-save"></i> Guardar </button>
                </div>

    
            </form>

        </div>
    </div>

</div>

<swal
    #saveSwal
    title="Guardando"
    text="¿Desea guardar los cambios?"
    icon="question"
    [showCancelButton]="true"
    [focusConfirm]="true"
    (confirm)="save()">
</swal>

<swal
    #cancelSwal
    title="Cancelando"
    text="¿Desea salir de la pantalla?"
    icon="question"
    [showCancelButton]="true"
    [focusConfirm]="true"
    (confirm)="back()">
</swal>

<swal
    #successSwal
    title="Guardado"
    text="Bien hecho, El cliente ha sido registrado"
    icon="success">
</swal>
