<div id="clients-form-container">

    <div class="card">
        <h5 class="card-header"> {{ title  }}</h5>
        
        <div class="card-body">

            <div class="text-right">
                <h6>Clave: {{ code | clave }}</h6>
            </div>

            <form [formGroup]="form" (ngSubmit) ="openSaveSwal()">

                <div class="form-group row" validate-control="description">
                    <label class="col-md-2 col-form-label">Descripción*</label>
                    <div class="col-md-5">
                        <textarea type="text" class="form-control" placeholder="Ingrese description" autocomplete="off" formControlName="description"></textarea>
                    </div>
                    <div class="col-md-5">
                        <label class="label-error" *validate-message="'required'"> El campo es requerido.</label>
                        <label class="label-error" *validate-message="'maxlength'"> &nbsp; Máximo 500 caracteres.</label>
                    </div>
                </div>

                <div class="form-group row" validate-control="model">
                    <label class="col-md-2 col-form-label">Modelo*</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" placeholder="Ingrese modelo" autocomplete="off" formControlName="model">
                    </div>
                    <div class="col-md-5">
                        <label class="label-error" *validate-message="'required'"> El campo es requerido.</label>
                        <label class="label-error" *validate-message="'maxlength'"> &nbsp; Máximo 100 caracteres.</label>
                    </div>
                </div>

                <div class="form-group row" validate-control="price">
                    <label class="col-md-2 col-form-label">Precio*</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Ingrese precio" autocomplete="off" formControlName="price" maxlength="17">
                    </div>
                    <div class="col-md-7">
                        <label class="label-error" *validate-message="'required'"> El campo es requerido.</label>
                        <label class="label-error" *validate-message="'pattern'"> &nbsp; Formato moneda.</label>
                    </div>
                </div>

                <div class="form-group row" validate-control="stock">
                    <label class="col-md-2 col-form-label">Existencia*</label>
                    <div class="col-md-2">
                        <input type="text"  maxlength="4" class="form-control" placeholder="Ingrese existencia" autocomplete="off" formControlName="stock">
                    </div>
                    <div class="col-md-8">
                        <label class="label-error" *validate-message="'required'"> El campo es requerido.</label>
                        <label class="label-error" *validate-message="'pattern'"> &nbsp; Solo números positivos.</label>
                    </div>
                </div>

                <div class="text-right">
                    <button class="btn" type="button" (click)="cancelSwal.fire()"> <i class="fa fa-arrow-left"></i> Regresar </button>
                    <button class="btn btn-success"> <i class="fa fa-save"></i> Guardar </button>
                </div>

    
            </form>

        </div>
    </div>

</div>

<swal
    #saveSwal
    title="Guardando"
    text="¿Desea guardar los cambios?"
    icon="question"
    [showCancelButton]="true"
    [focusConfirm]="true"
    (confirm)="save()">
</swal>

<swal
    #cancelSwal
    title="Cancelando"
    text="¿Desea salir de la pantalla?"
    icon="question"
    [showCancelButton]="true"
    [focusConfirm]="true"
    (confirm)="back()">
</swal>

<swal
    #successSwal
    title="Guardado"
    text="Bien hecho, El artículo ha sido registrado"
    icon="success">
</swal>
