
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand dropdown-toggle" style="cursor: pointer;"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inicio</a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" [routerLink]="[ '/sales' ]" routerLinkActive="active">Ventas</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" [routerLink]="[ '/clients' ]" routerLinkActive="active">Clientes</a>
        <a class="dropdown-item" [routerLink]="[ '/items' ]" routerLinkActive="active">Artículos</a>
        <a class="dropdown-item" [routerLink]="[ '/configuration' ]" routerLinkActive="active">Configuración</a>
    </div>
    <div class="date">
        <label> Fecha: {{ serverDate | date: 'dd/MM/yyyy'}} </label>
    </div>
</nav>
