<div id="configuration-form-container">

    <div class="card">
        <h5 class="card-header"> Configuración General</h5>
        
        <div class="card-body">

            <form [formGroup]="form" (ngSubmit)="openSaveAlert()">

                <div class="form-group row" validate-control="rate" >
                    <label class="col-md-3 col-form-label">Tasa Financiamiento*</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="" autocomplete="off" formControlName="rate" maxlength="9">
                    </div>
                    <div class="col-md-7">
                        <label class="label-error" *validate-message="'required'"> El campo es requerido.</label>
                        <label class="label-error" *validate-message="'pattern'"> &nbsp; Solo números positivos.</label>
                    </div>
                </div>

                <div class="form-group row" validate-control="downpayment">
                    <label class="col-md-3 col-form-label">% Enganche*</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="" autocomplete="off" formControlName="downpayment" maxlength="9">
                    </div>
                    <div class="col-md-7">
                        <label class="label-error" *validate-message="'required'"> El campo es requerido.</label>
                        <label class="label-error" *validate-message="'pattern'"> &nbsp; Solo números positivos.</label>
                    </div>
                </div>

                <div class="form-group row" validate-control="deadline">
                    <label class="col-md-3 col-form-label">Plazo Máximo*</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="" autocomplete="off" formControlName="deadline" maxlength="9">
                    </div>
                    <div class="col-md-7">
                        <label class="label-error" *validate-message="'required'">El campo es requerido.</label>
                        <label class="label-error" *validate-message="'pattern'"> &nbsp; Solo números positivos.</label>
                    </div>
                </div>

                <div class="text-right">
                    <button class="btn btn-success"> <i class="fa fa-save"></i> Guardar </button>
                </div>

    
            </form> 

        </div>
    </div>

    <swal
        #saveSwal
        title="Guardando"
        text="¿Desea guardar los cambios?"
        icon="question"
        [showCancelButton]="true"
        [focusConfirm]="true"
        (confirm)="save()">
    </swal>

    <swal
        #successSwal
        title="Guardado"
        text="Bien hecho, La configuración ha sido registrada"
        icon="success">
    </swal>

</div>

    
