<div id="sales-form-container">

    <div class="card">
        <h5 class="card-header">Registro de Ventas</h5>
        
        <div class="card-body">

            <div class="text-right">
                <h6>Clave: {{ code | clave }}</h6>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label">Cliente*</label>
                <div class="col-md-5">
                    <app-searcher #clientSearcher [keys]="['firstname', 'lastname']" url="/clients" (onSelect)="selectClient($event)" (onCancel)="client = null"></app-searcher>
                </div>
                <div class="col-md-5">
                    <label  *ngIf="client?.rfc"> RFC: {{ client.rfc }}</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label">Articulo*</label>
                <div class="col-md-5">
                    <app-searcher #itemSearcher [keys]="['description']" url="/items" (onSelect)="item = $event" (onCancel)="item = null"></app-searcher>
                </div>
                <div class="col-md-5">
                    <button *ngIf="!isSecondStep" class="btn btn-primary" [disabled]="!item" (click)="checkStock(item)"> <i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Descripcion Articulo</th>
                            <th scope="col">Modelo</th>
                            <th scope="col" width="100px">Cantidad</th>
                            <th scope="col" width="150px">Precio</th>
                            <th scope="col" width="150px">Importe</th>
                            <th width="20px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items" #itemsRows>
                            <td> {{ item.description}} </td>
                            <td> {{ item.model}} </td>
                            <td class="text-center"> <input *ngIf="!isSecondStep" type="number" class="form-control" [(ngModel)]="item.count" (change)="calculateImport(item)">
                                <label  *ngIf="isSecondStep" for="">{{ item.count }} </label>
                            </td>
                            <td class="text-right"> {{ item.price | currency:'USD':'symbol' }} </td>
                            <td class="text-right"> {{ item.import | currency:'USD':'symbol' }} </td>
                            <td> <i *ngIf="!isSecondStep" class="fa fa-times" style="cursor: pointer;" (click)="removeItem(item)"></i></td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-3" style="text-align: right;"> Enganche </div>
                <div class="col-md-3" style="text-align: right;"> {{ downpayment | currency:'USD':'symbol' }} </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-3" style="text-align: right;">Bonificación enganche</div>
                <div class="col-md-3" style="text-align: right;"> {{ downpaymentBonus | currency:'USD':'symbol' }}</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-3" style="text-align: right;">Total</div>
                <div class="col-md-3" style="text-align: right;"> {{ total | currency:'USD':'symbol' }}</div>
            </div>

            <div *ngIf="isSecondStep"class="table-responsive" >
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th colspan="5" class="text-center">Abonos Mensuales</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let payment of payments">
                            <td> {{ payment.countPayments }} ABONOS DE </td>
                            <td class="text-right"> {{ payment.parcialPayment  | currency:'USD':'symbol'}} </td>
                            <td class="text-right"> TOTAL A PAGAR {{ payment.totalToPay  | currency:'USD':'symbol'}} </td>
                            <td class="text-right"> SE AHORRA {{ payment.saving  | currency:'USD':'symbol' }} </td>
                            <td>     
                                <input type="radio" name="payments" style="cursor: pointer;" (click)="parcialPayments = payment">
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <br><br>
            <div class="text-right">
                <button class="btn" type="button" (click)="cancelSwal.fire()"> <i class="fa fa-arrow-left"></i> Cancelar </button>
                <button *ngIf="!isSecondStep" class="btn btn-success" (click)="next()">  Siguiente <i class="fa fa-arrow-right"></i> </button>
                <button *ngIf="isSecondStep" class="btn btn-success" (click)="saveSwal.fire()">  <i class="fa fa-save">  </i> Guardar </button>
            </div>
        </div>
    </div>

</div>

<swal
    #noStockSwal
    title="Sin existencia"
    text="El articulo seleccionado no cuenta con existencia, favor de verificar"
    icon="warning">
</swal>

<swal
    #duplicateItemSwal
    title="Duplicado"
    text="El articulo seleccionado ya ha sido agregado, favor de verificar"
    icon="warning">
</swal>

<swal
    #configSwal
    title="Configure"
    text="Primero registre los datos de conguración para continuar con la venta"
    icon="warning">
</swal>

<swal
    #nullCountSwal
    title="Configure"
    text="La cantidad no puede ser 0 o nula, favor de verificar"
    icon="warning">
</swal>

<swal
    #cancelSwal
    title="Cancelando"
    text="¿Desea salir de la pantalla?"
    icon="question"
    [showCancelButton]="true"
    [focusConfirm]="true"
    (confirm)="back()">
</swal>

<swal
    #invalidNextSwal
    title="Verificar datos"
    text="Los datos ingresados no son correctos favor de verificar"
    icon="warning">
</swal>

<swal
    #saveSwal
    title="Guardando"
    text="¿Desea terminar la venta?"
    icon="question"
    [showCancelButton]="true"
    [focusConfirm]="true"
    (confirm)="save()">
</swal>
    
<swal
    #successSwal
    title="Guardado"
    text="Bien hecho, Tu venta ha sido registrada correctamente"
    icon="success">
</swal>
