

<div id="clients-container">

    <div class="new-button">
        <button class="btn btn-primary float-right" [routerLink]="['new']"> <i class="fa fa-plus"></i> Nuevo cliente </button>
    </div>
    
    <div class="title"> Clientes Registrados </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col" width="200px">Clave Cliente</th>
                <th scope="col">Nombre</th>
                <th width="20px"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients">
                    <td class="text-center"> {{ client.id | clave  }} </td>
                    <td> {{ client.firstname }} {{ client.lastname }}</td>
                    <td class="text-center edit-table-button"> <i class="fa fa-edit" [routerLink]="[client.id]"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>