<div id="items-container">

    <div class="new-button">
        <button class="btn btn-primary float-right" [routerLink]="['new']"> <i class="fa fa-plus"></i> Nuevo Artículo </button>
    </div>
    
    <div class="title"> Artículos Registrados </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col" width="200px">Clave Artículo</th>
                <th scope="col">Descipción</th>
                <th width="20px"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td class="text-center"> {{ item.id | clave  }} </td>
                    <td> {{ item.description }}</td>
                    <td class="text-center edit-table-button"> <i class="fa fa-edit" [routerLink]="[item.id]"></i></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>