// .seach-input {
//     box-sizing: border-box;
//     height: 47px;
//     border: 2px solid $input-search-color;
//     border-radius: 3px;
//     background-color: #FFFFFF;
//     border-left: none;
// }

// .seach-input:focus {
//     box-shadow: none;
// }

// .seach-input::placeholder {
//     /* opacity: 0.25; */
//     color: $input-search-color;
//     font-family: "Cerebri Sans";
//     font-size: 14px;
//     font-weight: 500;
// }

// .seach-input-icon {
//     background-color: #FFFFFF;
//     border: 2px solid $input-search-color;
//     border-right: none;
//     /* padding: 0px 15px; */
// }

// .seach-input-icon i {
//     opacity: 0.25;
//     color: $input-search-color;
//     font-size: 17.5px;
//     font-weight: 500;
// }

.results-wrapper {
    display: none;
    z-index: 500;
    top: 50px;
    position: absolute;
    background: #FFFFFF;
    max-height: 200px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0;
    display: inline !important;
    overflow-x: auto; 
}

.result-elem {
    color: #28395a;
    text-align: left;
    padding: 12px 20px;
    border-bottom: 1px solid #e7efff;
    font-weight: 100;
    cursor: pointer;
}

.result-elem.no-result {
    cursor: auto;
}

.result-elem:hover {
    background-color: #e7efff;
}

.result-elem .date {
    opacity: 0.75;
    font-size: 12px;
}

.displayit {
    display: inherit;
}

.hide {
    display: none !important;
}

// @media only screen and (min-width: 992px) {
//     .seach-input {
//         min-width: 300px;
//     }
// }