<div #searcher class="input-group mb-2 mr-sm-2 header-item">
    <div class="input-group-prepend">
        <div class="input-group-text seach-input-icon">
            <i class="fa fa-search" *ngIf="!loading"></i>
            <div class="spinner-grow spinner-grow-sm" role="status" *ngIf="loading">
            </div>
        </div>
    </div>
    <input *ngIf="!selectedItem" type="text" class="form-control seach-input" placeholder="Teclee para buscar" [(ngModel)]="query" (ngModelChange)="search()" (focus)="showResults=true" (blur)="delayHide()">
    <input *ngIf="selectedItem" type="text" class="form-control" placeholder="Teclee para buscar" [(ngModel)]="template" readonly>
    <div *ngIf="selectedItem" class="input-group-append" (click)="query = ''; selectedItem = null; data=[]; onCancel.emit();" style="cursor: pointer">
            <div class="input-group-text seach-input-icon">
                <i class="fa fa-times" *ngIf="!loading"></i>
            </div>
        </div>
    <div #results class="results-wrapper" data-simplebar [ngClass]="{'displayit': showResults, 'hide': !showResults}">
        <div class="result-elem" *ngFor="let element of data" (click)="selectItem(element)">
            <div *ngFor="let key of keys" [innerHtml]="(element[key] | titlecase) | highlight:query" style="display: inline;">
                
            </div>
        </div>
        <div class="result-elem no-result" *ngIf="!(data?.length) && query?.length >= 3 && !loading">
            Sin resultados
        </div> 
    </div>
</div>