/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px;
}

.table {
    margin-top: 30px;
    
    .edit-table-button i{
        color: #039BE5;
        cursor: pointer;
    }
}

.label-error {
    color: #B71C1C;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.twitter-typeahead {
    width: 100%;
    .tt-menu {
        background: white !important;
        width: 100%;
        border: 1px solid #ced4da;
        border-radius: 3px;
        cursor: pointer;
    
    }
}

.highlight {
    font-weight: bold;
}
