.cbutton {
    white-space: inherit;
    padding: 14px;
    min-width: 100px;
    background: white;
    border: 2px solid #424242;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #424242;
    cursor: pointer;
    outline: none;
}

.cbutton.blue {
    border: 2px solid #039BE5;
    color: #039BE5;
}

.cbutton.blue.fill {
    border: 2px solid #039BE5;
    background-color: #039BE5;
    color: white;
}