.ctable {
    width: 100%;

    border-top: 2px solid black;
    border-collapse: collapse;

    thead {
        background-color: #039BE5;
        color: white;

        tr {
            th {
                padding: 10px;
                text-align: left;
            }
        }
    }
}


