<div id='sales-container'>

    <div class="new-button">
        <button class="btn btn-primary float-right" [routerLink]="['new']"> <i class="fa fa-plus"></i> Nueva venta </button>
    </div>

    <div class="title"> Ventas Activas </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Folio Venta </th>
                <th scope="col">Clave Cliente</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sale of sales">
                    <td> {{ sale.id | clave }} </td>
                    <td> {{ sale.client.id | clave }} </td>
                    <td> {{ sale.client.firstname }} {{ sale.client.lastname }}  </td>
                    <td> {{ sale.date | date: 'dd/MM/yyyy' }}  </td>
                </tr>
              
            </tbody>
        </table>

    </div>



</div>